@{
    ViewData["Title"] = "Home Page";
}
@model HistoricalDataModel
<br>
<div class="text-center">
    <h1 class="display-4">Investment Tracker</h1>
    <form class="d-flex" method="post" asp-controller="Stock" asp-action="Index">
        <input class="form-control me-sm-2" type="search" name="ticker" id = "searchInput" placeholder="Ticker Lookup">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
</div>
<br/>
<h3 id="symbol"></h3>
@*<div>
    @if (Model.Bars != null && Model.Bars.Any())
    {
        <h3>@Model.Bars.FirstOrDefault()?.Symbol</h3>
        foreach (var bar in Model.Bars)
        {
            <p>Time: @bar.TimeUtc,  Open: @bar.Open, High: @bar.High, Low: @bar.Low, Close: @bar.Close, Volume: @bar.Volume @bar.</p>
        }
    }
    else
    {
        <p class="text-center">No market data available, please enter a ticker.</p>
    }
</div>*@
<style>
    /* Add this style to make the chart-wrapper div cover the entire card */
    .chart-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Add this style to make the canvas cover the entire chart-wrapper div */
    #candlestick-chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class ="card-wrapper" id="chart-card">
                        <div id="candlestick-chart"></div>
                    </div>
                </div>
                <script src="~/js/alpaca.js"></script>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Trades</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Positions</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br/>
<script src="~/js/chart.js" asp-append-version="true"></script>
<script>
    if (!localStorage.getItem('alertShown')) {
        alert('This application is for development puropses only. It does not provide personal investment advice and is not a qualified licensed financial advisor.');
        localStorage.setItem('alertShown', 'true');
    }
</script>
<script>
    var modelData = @Html.Raw(Json.Serialize(Model));
</script>