@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OzymandiasInvestments.Models.SolutionModels.HistoricalDataModel
<br>
<style>
    /* Add this style to make the chart-wrapper div cover the entire card */
    .chart-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Add this style to make the canvas cover the entire chart-wrapper div */
    #candlestick-chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Investment Tracker</h1>
    <form class="d-flex" method="post" asp-controller="Stock" asp-action="Index">
        <input class="form-control me-sm-2" type="search" name="ticker" id = "searchInput" placeholder="Ticker Lookup">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
</div>
<br/>
<div class="container">
    @if (Model == null || Model.Bars.Count() == 0)
    {
        <h4 class="text-center">Enter a ticker symbol for detailed stock information.</h4>
        <center>
            <img src="~/lib/Logo.png">
        </center>
        <div class="toast show ms-auto" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; bottom: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="me-auto">Disclaimer</strong>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="toast-body">
                This application is for development purposes only. It does not provide personal investment advice and is not a qualified licensed financial advisor.
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">
                        @if(Model.detailedInfo.companyName == "N/A")
                        {
                            <h3 id="symbol"></h3>
                        }
                        else
                        {
                            <h3 id="symbol" class="d-none"></h3>
                            <h3>@Model.detailedInfo.companyName</h3>
                        }
                    </div>
                    <div class="card-body">
                        <div class="card-wrapper" id="chart-card">
                            <div id="candlestick-chart"></div>
                        </div>
                    </div>
                    <script src="~/js/alpaca.js"></script>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">
                        <h3>News</h3>
                    </div>
                    <div class="card-body">
                        @if (Model.articles != null)
                        {
                            @foreach (var article in Model.articles)
                            {
                                <a href="@article.ArticleUrl"><p>@article.Headline</p></a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h3>Detailed Info</h3>
                    <div class="card-body">
                        <p>Sector: @Model.detailedInfo.sector</p>
                        <p>Industry: @Model.detailedInfo.industry</p>
                        <div class="row">
                            <div class="col-6">
                                <span>Market Cap: @Model.detailedInfo.marketCap</span>
                            </div>
                            <div class="col-6">
                                <span>10D A. Volume: @Model.averageVolume</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <span>50D MA: $@Model.detailedInfo.movingAverage</span>
                            </div>
                            <div class="col-6">
                                <span>Target Price: $@Model.detailedInfo.targetPrice</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <span>Year Low: $@Model.detailedInfo.yearLow</span>
                            </div>
                            <div class="col-6">
                                <span>Year High: $@Model.detailedInfo.yearHigh</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <span>PE: @Model.detailedInfo.trailingPE</span>
                            </div>
                            <div class="col-6">
                                <span>EPS: @Model.detailedInfo.eps</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Description</h3>
            <p>@Model.detailedInfo.description</p>
        </div>
    }
</div>
<br>
<br/>
<script src="~/js/chart.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var modelData = @Html.Raw(Json.Serialize(Model));
</script>
<script>
    function showBottomRightToast() {
        $('.toast').toast('show');

        setTimeout(function () {
            $('.toast').toast('hide');
        }, 10000); 
    }

    $(document).ready(function () {
        showBottomRightToast();
    });
</script>