@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model System.Data.DataTable
@{
    ViewData["Title"] = "Order History📝";
    int rowIndex = 0;
}
<br>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h3 class="d-flex justify-content-between align-items-center">
    @ViewData["Title"]
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Create an order</button>
    @await Html.PartialAsync("CreateOrder")
</h3>
@if(Model.Rows.Count != 0)
{
    <div class="table-responsive mt-3">
        <table class="table table-hover">
            <tr>
                <th></th>
                @foreach (DataColumn column in Model.Columns)
                {
                    <th><b>@column.ColumnName</b></th>
                }
            </tr>
            @foreach (DataRow row in Model.Rows)
            {
                <tr style="border: 1px solid cyan;">
                    <td></td>
                    @foreach (DataColumn column in Model.Columns)
                    {
                        if (column.ColumnName == "Symbol")
                        {
                            <td>
                                <form id="postForm_@rowIndex" method="post" action="@Url.Action("Index", "Stock")">
                                    <input type="hidden" name="ticker" value="@row["Symbol"]" />
                                </form>
                                <a style="text-decoration: underline; cursor: pointer; color: cyan;" onclick="submitForm('postForm_@rowIndex')">@row["Symbol"]</a>
                            </td>
                        }
                        else
                        {
                            <td>@row[column]</td>
                        }
                    }
                </tr>
                rowIndex++;
            }
        </table>
    </div>
}
else
{
    <br>
    <div class="alert alert-light" role="alert">
        You have no orders yet. Click the above button to create one.
    </div>
}
<br>
<script>
    function submitForm(formId) {
        var form = document.getElementById(formId);
        form.submit();
    }

    $(document).ready(function () {
        $(document).on('click', '[data-toggle="modal"]', function () {
            var targetModal = $(this).data('target');
            $(targetModal).modal('show');
        });
    });
</script>
