@model List<Investments>
<br>
<h4>Investments</h4>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ticker</th>
        <th>Shares</th>
        <th>Open Price</th>
        <th>Open Time</th>
        <th>Close Price</th>
        <th>Close Time</th>
        <th>Profit</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        string[] classes = new string[] { "table-primary", "table-secondary", "table-success", "table-danger", "table-warning", "table-info", "table-light" };
    }

    @foreach (var investment in Model)
    {
        int cssClasses = (int)(investment.Id % classes.Length);
        string rowClass = classes[cssClasses];

        <tr class="@rowClass">
            <td>@investment.Id</td>
            <td>@investment.Symbol</td>
            <td>@investment.Shares</td>
            <td>$@investment.OpenPrice</td>
            <td>@investment.OpenTime</td>
            <td>
                @if (investment.ClosePrice == null)
                {
                    <form method="get" action="@Url.Action("CloseInvestment", "Stock", investment.Id)">
                        <input type="hidden" name="id" value="@investment.Id" />
                        <button type="submit" class="btn btn-secondary">Close</button>
                    </form>
                }
                else
                {
                    @(investment.ClosePrice != null ? "$" + investment.ClosePrice : investment.ClosePrice)
                }
            </td>
            <td>
                @if (investment.CloseTime == null)
                {
                    <form method="get" action="@Url.Action("UpdateInvestment", "Stock", investment.Id)">
                        <input type="hidden" name="id" value="@investment.Id" />
                        <button type="submit" class="btn btn-secondary">Edit/Delete</button>
                    </form>
                }
                else
                {
                    @investment.CloseTime
                }
            </td>
            <td>@(investment.Profit != null ? "$" + investment.Profit : investment.Profit)</td>

        </tr>
    }
    </tbody>
</table>
<br/>