@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<OzymandiasInvestments.Models.SolutionModels.InvestmentsModel>
@{
    ViewData["Title"] = "Portfolio";
}
<br>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h3>Investment Portfolio</h3>
<a style="text-decoration: underline;" data-toggle="modal" data-target="#addInvestmentModal">Add Investment</a>
<div class="modal fade" id="addInvestmentModal" tabindex="-1" role="dialog" aria-labelledby="addInvestmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addInvestmentModalLabel">Add Investment</h3>
                <button type="button" class="close" onclick="$('#addInvestmentModal').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 66vh; overflow-y: auto;">
                @await Html.PartialAsync("AddInvestment")
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Open Price</th>
            <th>Open Time</th>
            <th>Close Price</th>
            <th>Close Time</th>
            <th>Profit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            @{
                string[] classes = new string[] { "table-primary", "table-success", "table-light", "table-danger", "table-warning", "table-info" };
            }

            @foreach (var investment in Model)
            {
                int cssClasses = (int)(investment.Id % classes.Length);
                string rowClass = classes[cssClasses];

                <tr class="@rowClass">
                    <td></td>
                    <form id="postForm" method="post" action="@Url.Action("Index", "Stock")">
                        <input type="hidden" name="ticker" value="@investment.Symbol" />
                    </form>
                        <td><a style="text-decoration: underline;" onclick="document.getElementById('postForm').submit()">@investment.Symbol</a></td>
                    <td>@investment.Shares</td>
                    <td>$@investment.OpenPrice</td>
                    <td>@investment.OpenTime</td>
                    <td>@(investment.ClosePrice != null ? "$" + investment.ClosePrice : investment.ClosePrice)</td>
                    <td>@investment.CloseTime</td>
                    <td>@(investment.Profit != null ? "$" + investment.Profit : investment.Profit)</td>
                    <td>
                        <di class="d-flex flex-row">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal-@investment.Id">Edit</button>
                        </di>
                        <div class="modal fade" id="updateModal-@investment.Id" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel-@investment.Id" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <h3 class="modal-title" id="updateModalLabel-@investment.Id">Update Investment</h3>
                                            <button type="button" class="close" onclick="$('#updateModal-@investment.Id').modal('hide');" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="max-height: 40vh; overflow-y: auto;">
                                        @await Html.PartialAsync("UpdateInvestment", investment)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<script>
    $(document).on('click', '[data-toggle="modal"]', function() {
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });
</script>

